<!doctype html>

<html>
<head>
	<title>Momentz</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/introHCI.css" rel="stylesheet">
    
</head>

<body>
	<div class="container">
				<center>
					<img src="images/Momentz_logo_resize2.png" alt="Lorem Pixel image" class="img"  width="700px" height="500px" >
				</center>
				
		<div class="jumbotron">
		<center>
			<p>Collaborative memory creating experience!</p>
			
			</center>
		</div>

	<form id="signupForm" role="form">
	    
	    <div class="form-group">
	      <label for="width">Username:</label>
	      <input type="text" class="form-control" id="username" placeholder="Username" width="50">
	    </div>
    <div class="form-group">
      <label for="description">Password:</label>
      <input type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <center>
    <button id="submitBtn" type="button" class="btn btn-default">Login</button>
    <button id="registerBtn" type="button" class="btn btn-default">Don't have an account? Sign Up!</button>
    </center>
  </form>

  <!-- Beginning Logging in  -->

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/introHCI.js"></script>
</body>
</html>
