<!doctype html>

<html>
<head>
	<title>Momentz - Publish a Story!</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/introHCI.css" rel="stylesheet">
    
</head>

<body>
	<!-- <div class="container"> -->
		
		<center>
		<div class="jumbotron">
			<!-- <h1>Momentz</h1> -->
			<p>Publish a Story!</p>
			
		</div>
		</center>



<center>
	<div class="pscenter">
		<div class="midboxes">
		 <input type='file' id="imgInp" multiple/>
		 
			<div class="row">
				  <div class="col-sm-2">
				   
				    <img id="blah" src="" alt="" width="124" height="124" />
				    <textarea></textarea>
				</div>


			  <!-- <div class="col-sm-5">Text Box</div> -->
			</div>

			<div class="row">
				  <div class="col-sm-2">
	
				    <img id="blah2" src="" alt="" width="124" height="124" />
				    <textarea></textarea>
				</div>
			  <!-- <div class="col-sm-5">Text Box</div> -->
			</div>

			<div class="row">
			  <div class="col-sm-2">
			    <img id="blah3" src="" alt="" width="124" height="124" />
			    <textarea></textarea>
			</div>
			
		</div>
		  <!-- <div class="col-sm-5">Text Box</div> -->
		</div>
	</div>
		<a href="#" id="published"><input type='submit' id="submitstory" /></a>
	</center>


<!-- 		<center>
		<div class="MainContainer">
    </div>  
    <div id="MenuContainer">
        <ul id="navigation">
            <li class="x"><button id="submitBtn" type="button" class="btn btn-default">Top Stories</button></li>
            <li class="x"><a title="2" href="#" >2</a></li>
            <li class="x"><a title="3" href="#" >3</a></li>
            <li class="x"><a title="4" href="#" >4</a></li>
            <li class="x"><a title="5" href="#" >5</a></li>
            
        </ul>
    </div>
    </center> -->
		    <center>
		    <ul id="menu">
				<li id="TopS"><a href="#">Top Stories</a></li>
				<li id="NewsFeed">
					<a href="#">News Feed </a>
					<!-- <ul class="hidden">
						<li><a href="#">Who We Are</a></li>
						<li><a href="#">What We Do</a></li>
					</ul> -->
				</li>
				<li id="Publish">
					<a href="#">Publish Story</a>
					<!-- <ul class="hidden">
						<li><a href="#">Photography</a></li>
						<li><a href="#">Web & User Interface Design</a></li>
						<li><a href="#">Illustration</a></li>
					</ul> -->
				</li>
				<li id="Profile"><a href="#">Profile</a></li>
				<!-- <li><a href="#">Contact</a></li> -->
			</ul>
			</center>
	<!-- </div> -->
	

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/introHCI.js"></script>
</body>
</html>