/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #FFFFFF;
}

.jumbotron {
	position: relative;
	background: none;
}

body {
    background-image: url("../images/background_logo.png");
    /*background-color: #cccccc;*/
}

html, body {
 height: 100%;
}

/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}*/

/*.MainContainer {
    width: 1200px;
    background-color: #0066CC;
}
.MenuContainer {
    height: 70px;
    bottom:0;
}
ul#navigation {
    position: fixed;
     bottom: 0;
     width: 100%;
    height: 70px;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-width: 1px 0;    
    text-align: center;
    font-size: 22px;
    font-family: 'Cham-WebFont', Arial, sans-serif;
    background-color: #FFF;
}
ul#navigation li {
    display: inline;
    margin-right: .75em;
    list-style: none;
    margin: 0;
    padding: 0;
}
ul#navigation li.last {
    margin-right: 0;
}*/

/*Strip the ul of padding and list styling*/


ul {
    position: fixed;
    bottom: 0;
    width: 100%;
    /*margin:0;*/
    padding:0;
    /*text-align: center;*/
    display: inline-block;
    list-style-type: none;
    /*position: absolute;*/
}

/*Create a horizontal list with spacing*/
li {

    display:inline-block;
    float: left;
    margin-right: 1px;
    text-align: center;
}

/*Hover state for top level links*/

li a {

    display:block;
    min-width:140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background: #2f3036;
    text-decoration: none;
}

li:hover a {
    background: #19c589;
}

/*Style for dropdown links*/
li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
}

/*Hover state for dropdown links*/
li:hover ul a:hover {
    background: #19c589;
    color: #fff;
}

.jumbotron:after {
     content:"";
     background: url("../images/lorempixel.jumbotron.jpeg");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

.jumbotron p {
     color: #FFFFFF;
}

.project a {
     text-align: center;
}
